
{% extends 'base.html.twig' %}

{% block title %}Adresses{% endblock %}

{% block body %}
<section class="adressMain">
    {% if app.user.addresses|length == 0 %}
        <p>Vous n'avez pas encore ajouté d'adresse.</p>
    {% else %}
        <header>
            <h1>Mes adresses</h1>
            <p>Bonjour <span>{{ app.user.firstname }}</span>,<br> C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses personelles.</p>
        </header>
        {% for address in app.user.addresses %}
        <article>
            <div>
                <h1>Adresse<br>n°<span>{{ address.id }}</span></h1>
                <p>"{{ address.name }}"</p>
            </div>
            <section>
                <p>{{ address.firstname }}</p>
                <p>{{ address.lastname }}</p>
                <p>{{ address.country }}</p>
                <p>{{ address.address }}</p>
                <p>{{ address.city }}</p>
                <p>{{ address.postal }}</p>
                <p>{{ address.phone }}</p>
            </section>
        </article>
        <footer>
            <button><a href="{{ path('account_address_edit', {'id': address.id}) }}">Modifier</a></button>
            <button><a href="{{ path('account_address_remove', {'id': address.id}) }}">Supprimer</a></button>
        </footer>
    {% endfor %}
    <button class="createAdress"><a href="{{ path('account_address_add') }}">Ajouter une adresse</a></button>
    <button class="retourAdress"><a href="{{ path('account') }}">Retour</a></button> 
    {% endif %}
</section>


{% endblock %}
