{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a><br>

    {% if notification %}
        <div>{{ notification }}</div>
    {% endif %}

    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.email) }}
    {{ form_row(changePasswordForm.firstname) }}
    {{ form_row(changePasswordForm.lastname) }}
    {{ form_row(changePasswordForm.old_password)}}
    {{ form_end(changePasswordForm) }}

{% endblock %}
