{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
<section class="changeMdpForm">
    <h1>Modifier mon mot de passe</h1>
    <p>Bonjour {{ app.user.firstname }},<br> Veuillez saissir votre nouveau mot de passe .
    {# <button><a href="{{ path('account') }}">Annuler</a><button> #}

    {% if notification %}
        <div>{{ notification }}</div>
    {% endif %}

    {{ form_start(changePasswordForm) }}
    {# {{ form_row(changePasswordForm.email) }}
    {{ form_row(changePasswordForm.firstname) }}
    {{ form_row(changePasswordForm.lastname) }} #}
    {# {{ form_row(changePasswordForm.old_password)}} #}
    {{ form_end(changePasswordForm) }}
    <button class="annulerMdp"><a href="{{ path('account') }}">Annuler</a></button>
</section>
{% endblock %}
