{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
<section class="changeMdpForm">
    <h1>Changez votre mot de passe.</h1>
    {% if notification %}
        <div>{{ notification }}</div>
    {% endif %}

    {{ form_start(changePasswordForm) }}
    {# {{ form_row(changePasswordForm.email) }}
    {{ form_row(changePasswordForm.firstname) }}
    {{ form_row(changePasswordForm.lastname) }} #}
    {# {{ form_row(changePasswordForm.old_password)}} #}
    {{ form_end(changePasswordForm) }}
</section>
<section class="annulerBtnBox">
    <button><a href="{{ path('account') }}">Annuler</a></button>
</section>

{% endblock %}
