{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
<div class="noisy">
    <section class= "hPromoBox">
        <div class="promoAnim">Les soldes d'hivers sont là!</div>
        <div class="promoAnim2">
            <span>Les soldes d'hivers sont là !</span>
            <span>Les soldes d'hivers sont là !</span>
            <span>Les soldes d'hivers sont là !</span>
            <span>Les soldes d'hivers sont là !</span>
            <span>Les soldes d'hivers sont là !</span>
            {# <span>Les soldes d'hivers sont là !</span>
            <span>Les soldes d'hivers sont là !</span> #}
        </div>
        <div class="hPromo">
            <h2>Profitez de 20% sur nos soldes spécial fin d'année.</h2>
            <a href="{{ path('products') }}">SHOP NOW</a>
        </div>
    </section>
</div>
<figure id="homeBanner">
    <div>
        <h1>Glaira.com</h1>
        <h2>Notre expertise</h2>
        <h3>En présentant des meubles à votre image, qui résistent aux modes de vie et au temps qui passe, en mettant à votre disposition des services performants et un réseau de professionnels reconnus, nous instaurons avec vous une relation durable et de confiance. C’est notre état d’esprit et nous le partageons ensemble.</h3>
    </div>
</figure>
<article class="carrouselBox">
    <section class="showBoxHome spaceShowB clcBox">
        <h1>Collections</h1>
        <div class="boxHome">
            <div class="boxHomeL jsClc">
                <figure><img src="/assets/img/home.jpg"></figure>
                <section>
                    <h2>Salon</h2>
                    <a href="{{ path('products') }}">shop now</a>
                </section>
            </div>        
            <div class="boxHomeR clcBtn">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </section>
    <section class="showBoxHome">
        <h1>Eclairage</h1>
        <div class="boxHome">
            <div class="boxHomeL jsEcg">
                <figure><img src="/assets/img/lightSalon.jpg"></figure>
                <section>
                    <h2>Intérieur</h2>
                    <a href="{{ path('products') }}">shop now</a>
                </section>
            </div>        
            <div class="boxHomeR ecgBtn">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </section>
</article>

<script src="/assets/js/home.js"></script>
{% endblock %}
{% block boutique %}
    <section id="catalogueStyle">
        <h1>Notre catalogue</h1>
        <div>
            <ul id="styleCatalogue">
            {% for category in categories %}
                <li>
                    <a href="{{ path('products_category', {'category': category.name }) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}