{% extends 'base.html.twig' %}

{% block title %}Nos Produits - Glayra{% endblock %}

{% block body %}




<section class="shopNav">
    <h1>Notre collection</h1>
    <div class="shopNavLiHack">
        <button id="filterBtn">filtrer</button>
        <button id="sortBtn">trier</button>
        <ol id="sortList">
            <li>Nouveautés</li>
            <li>A - Z</li>
            <li>Z - A</li>
            <li>Prix croissant</li> 
            <li>Prix décroissant</li> 
            <li>Disponible</li> 
        </ol> 
    </div>
    <nav id="filterList">
        <ul>
            {{ form_start(searchForm) }}
            <li>{{ form_row(searchForm.string) }}</li>
            <li class="paddFilter">
                {{ form_row(searchForm.categories) }}
                {{ form_row(searchForm.filterBtnCheck) }}
            </li>
            {{ form_end(searchForm) }}
        </ul> 
    </nav>
</section>
    <section class="shopMain">
    {% for product in products %}
        <div>
            <figure><a href="{{ path('product', {slug : product.slug }) }}"><img src="/assets/img/products/{{ product.illustration }}"></a></figure>
            <h1>{{ product.name }}</h1>
            <section class="buyBox">
                <h2>{{ product.category }}<h2>
                        <div>
                            <p>{{ (product.price /100)|number_format(2, ',', '.')}} €</p>
                            <a href="{{ path('add_to_basket', {"id": product.id}) }}">buy</a>
                        </div>
            </section>
        </div>
    {% endfor %}


</section>
<script src="/assets/js/shop.js"></script>
{% endblock %}
