{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<section class="zoomProduct">
    <button><a href="{{ path('products') }}">Retour</a></button>
    <header>
        <h1>{{ product.name }}</h1>
        <i class="far fa-heart"></i>
    </header>
    <figure>
        <img src="/assets/img/products/{{ product.illustration }}">
    </figure>
    <section>
        <div>
            <h2>{{ product.category }}</h2>
            <h3>{{ (product.price /100)|number_format(2, ',', '.')}} €</h3>
        </div>
        <div>
            <a class="zoomPanierBtn" href="{{ path('add_to_basket', {"id": product.id}) }}">ajouter panier</a>
            <a class="zoomBuyBtn" href="{{ path('add_and_stay_basket', {"id": product.id}) }}">buy</a>
        </div>
    </section>
    <footer>
        <h1>Détails</h1>
        <p>{{ product.details }}</p>
        <h2>Dimensions</h2>
        <p>{{ product.dimensions }}</p>
    </footer>

</section>
<script src="/assets/js/shop.js"></script>
{% endblock %}
