{% extends 'base.html.twig' %}
{% block title %}
    Erreur de Paiement
{% endblock %}
{% block body %}
    <h2>Erreur de Paiement</h2>
    <p>Bonjour {{ failedOrder.user.firstname }} {{ failedOrder.user.lastname }}</p>
    <p>Une erreur est survenue lors du paiement de la commande n°{{ failedOrder.reference }}.</p>


    <p>Un email vous a été envoyé à l'adresse: {{ failedOrder.user.email }}</p>


    <a href="{{ path('order') }}">Réessayer le paiement</a>
{% endblock %}