{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    {% if notification %}
        <div>{{ notification }}</div>
    {% endif %}
    {{ form_start(registerForm, {'attr':{'class':'insForm'}}) }}
        <h1>Inscription</h1> 
        {{ form_row(registerForm.firstname) }}
        {{ form_row(registerForm.lastname) }}
        {{ form_row(registerForm.email) }}
        {{ form_row(registerForm.password)}}
    {{ form_end(registerForm) }}
{% endblock %}
