<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/css/style.css">
            <link rel="stylesheet" href="/assets/css/home.css">
            <link rel="stylesheet" href="/assets/css/log-compte.css">
            <link rel="stylesheet" href="/assets/css/boutique.css">
            <link rel="stylesheet" href="/assets/css/panier.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.typekit.net/oel8paj.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <header class="headerB">
        <a href="{{ path('home') }}"><div class="logoHead">Glaira</div></a>
        <a href="{{ path('products') }}"><i class="icHead fas fa-bars"></i></a>
        <section class="accHead">
            {% if app.user %}
                <a href="{{ path('account') }}">Compte</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
            <a href="{{ path('basket') }}"><i class="icHead fas fa-shopping-basket"></i></a>
        </section>
    </header>
        {% block body %}{% endblock %}
    <footer class="baseFooter">
        <header>
            <h1>Restons connecté !</h1>
            <div>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin"></i>
            </div>
            <figure>
                <h1>Glaira.com</h1> 
                <h2>Expert en meubles depuis 1930.</h2>
            </figure>
            <nav>
                <section>
                    <h1>Catalogue</h1>
                    <div>
                        <ul>
                            <li><a href="{{ path('products') }}">Curiosités<a></li>
                            <li><a href="{{ path('products') }}">Lits<a></li>
                            <li><a href="{{ path('products') }}">Tables<a></li>
                            <li><a href="{{ path('products') }}">Bancs<a></li>
                            <li><a href="{{ path('products') }}">Chaises<a></li>
                        </ul>
                        <ul>
                            <li><a href="{{ path('products') }}">Fauteils<a></li>
                            <li><a href="{{ path('products') }}">Lampes<a></li>
                            <li><a href="{{ path('products') }}">Murs<a></li>
                            <li><a href="{{ path('products') }}">Bureaux<a></li>
                            <li><a href="{{ path('products') }}">Tabourets<a></li>
                        </ul>
                    </div>
                </section>
                <section>
                    <h1>Service client</h1>
                    <div>
                        <ul>
                            <li><a href="{{ path('products') }}">Contactez nous<a></li>
                            <li><a href="{{ path('products') }}">Retour et livraison<a></li>
                            <li><a href="{{ path('products') }}">FAQ<a></li>
                            <li><a href="{{ path('account') }}">Mon compte<a></li>
                            <li><a href="{{ path('products') }}">Abonnement<a></li>
                        </ul>
                        <ul>
                            <li><a href="{{ path('products') }}">Cartes cadeau<a></li>
                            <li><a href="{{ path('products') }}">Soldes<a></li>
                            <li><a href="{{ path('products') }}">Créer un compte<a></li>
                        </ul>
                    </div>
                </section
            </nav>
            <footer>
                <h1>Glaira<span><span>©</span>2021</span></h1>
                <h2>All Rights Reserved.</h2>
                <h3>Made by A&G.</h3>
            </footer>
        </header>
    </footer>
    </body>
</html>
