<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/css/base.css">
            <link rel="stylesheet" href="/assets/css/style.css">
            <link rel="stylesheet" href="/assets/css/home.css">
            <link rel="stylesheet" href="/assets/css/log-compte.css">
            <link rel="stylesheet" href="/assets/css/boutique.css">
            <link rel="stylesheet" href="/assets/css/panier.css">
            <link rel="stylesheet" href="/assets/css/cmd-process.css">
            <link rel="stylesheet" href="/assets/css/cmd-final.css">
            <link rel="stylesheet" href="/assets/css/account-order.css">
            <link rel="stylesheet" href="/assets/css/cgv.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.typekit.net/oel8paj.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <div id="goTop"><i class="fas fa-long-arrow-alt-up"></i></div>
    {# <div class="cursor--point"></div>
    <div id="cursor">
        <div class="cursor--inner"></div>
    </div>   #}
    <div class="boxHeadScroll">
        <header class="headerB">
            <a href="{{ path('home') }}"><div class="logoHead">Glaira</div></a>
            <a class="menuOpen" href="#"><i class="icHead fas fa-bars"></i></a>
            <section class="accHead">
                {% if app.user %}
                    <a class="accName" href="{{ path('account') }}">{{ app.user.firstname }}</a>
                {% else %} 
                    <a class="accName" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
                    <figure>
                    <a href="{{ path('basket') }}"><i class="icHead fas fa-shopping-basket"></i></a>
                {% if app.session.get('basket') is null %}
                    {% else %}
                    <div id="basketInfo">
                        <p>{{ app.session.get('basket')|reduce((carry, v) => carry + v) }}</p>
                    </div>
                {% endif %}
                    </figure>
            </section>
        </header>
        <nav class="menuOpened">
            <ul>
                <a href="{{ path('home') }}"><li>Home</li></a>
                <a href="{{ path('products') }}"><li>Shop</li></a>
                <a href="{{ path('products') }}"><li>Soldes</li></a>
                <a href="{{ path('account') }}"><li>Compte</li></a>
        </nav>
    </div>

        {% block body %}
        {% endblock %}

    <footer class="baseFooter">
        {% block footer %}
        <header>
            <figure>
                <h1>Glaira.com</h1> 
                <h2>Expert en mobilier depuis 1930.</h2>
            </figure>
            <h1>Restez connecté !</h1>
            <div>
                <a href="https://github.com/BelmansGlenn/Ecommerce_small"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/BelmansGlenn/Ecommerce_small"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/BelmansGlenn/Ecommerce_small"><i class="fab fa-linkedin"></i></a>
            </div>
            {% block boutique %}
            {% endblock %}
            <nav>
                <section id="espaceClientRes">
                    <h1>Espace client</h1>
                    <div>
                        <ul>
                            <li><a href="{{ path('account') }}">Mon compte<a></li>
                            <li><a href="{{ path("register") }}">Créer un compte<a></li>
                            <li><a href="{{ path('products') }}">Glaira home<a></li>
                        </ul>
                        <ul>
                            <li><a href="{{ path('account_address') }}">Adresses et livraison<a></li>
                            <li><a href="{{ path('account_order') }}">Commandes<a></li>
                            <li><a href="{{ path('app_logout') }}">Deconnexion<a></li>
                        </ul>
                    </div>
                </section>
                <section>
                    <h1>à propos</h1>
                    <div>
                        <ul>
                            <li><a href="mailto:glaira@store.be">Contactez nous<a></li>
                            <li><a href="mailto:glaira@store.be">Retours et échanges<a></li>
                            <li><a <a href="mailto:glaira@store.be">Jobs<a></li>
                        </ul>
                        <ul>
                            <li><a href="{{ path('conditionsgenerale') }}">Conditions Générales<a></li>
                            <li><a href="{{ path('conditionsgenerale') }}">Protection des données<a></li>
                            <li><a href="{{ path('conditionsgenerale') }}">FAQ<a></li>
                        </ul>
                    </div>
                </section>
            </nav>
            <footer>
                <h1>Glaira</h1>
                <p>© 2021</p>
                <h2>Made by Rune Studio. All Rights Reserved.</h2>
            </footer>
        </header>
    </footer>
    {% endblock %}
    <script src="/assets/js/base.js"></script>

    </body>
</html>
