{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
{% if basket|length > 0 %}
<section class="panierMain">
    <h1>Votre panier</h1>
    <h2 class="panierBanner">Il y a actuellemment <span>{{ app.session.get('basket')|reduce((carry, v) => carry + v) }}</span> articles dans votre panier.</h2>
    {% set total = null %}
    {% for product in basket %}
    <span class="deleteProdBasket"><a href="{{ path('delete_from_basket', {'id': product.product.id}) }}"><i class="fas fa-times"></i></a></span>
    <article>
        <figure>            
            <a href="{{path('product',  {'slug':  product.product.slug})}}"><img src="/assets/img/products/{{ product.product.illustration }}" height="80px"></img></a>
        </figure>
        <section>
            <header>
                <h2>{{ product.product.name }}</h2>
                <h3>{{ (product.product.price/100)|number_format(2, ',', '.')}}€</h3>
            </header>
            <div>
                <a href="{{ path('substract_to_basket', {'id': product.product.id}) }}">
                    <i class="fas fa-minus"></i>
                </a>
                <p>{{ product.quantity }}</p>
                <a href="{{ path('add_to_basket', {'id' : product.product.id }) }}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <h4>{{ ((product.product.price * product.quantity)/100)|number_format(2, ',', '.') }} €</h4>
        </section>
    </article>
    {% set total = total + (product.product.price * product.quantity) %}
    {%  endfor %}
</section>
<section class="panierFinal">
    <header>
        <h1><span>Total : </span><span>{{ ((total)/100)|number_format(2, ',', '.') }} €</span></h1>
        <h2><span>Nombres total de produits : </span><span>{{ app.session.get('basket')|reduce((carry, v) => carry + v) }}</span></h2>
        <h3>Profitez de notre abonnement annuel. <a href="{{ path('products') }}">En savoir plus</a></h3>
    </header>
    <section>
        <a class="finalBuyBtn" href="{{ path('order') }}">Finaliser ma commande</a>
        <div>
            <a href="{{ path('remove_my_basket') }}">Vider mon panier</a>
            <a href="{{ path('products') }}">Continuer shopping</a>
        </div>
    </section>
</section>

{% else %}
<section class="panierVide">
    <h1>Votre panier est vide.</h1>
    <a href="{{ path('products') }}">Continuer shopping</a>
</section>
{% endif %}


{% endblock %}

{% block footer %}
{% endblock %}
