{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
{% if basket|length > 0 %}
<section class="panierMain">
    <h1>Mon panier</h1>
    {% set total = null %}
    {% for product in basket %}
    <span class="deleteProdBasket"><a href="{{ path('delete_from_basket', {'id': product.product.id}) }}"><i class="fas fa-times"></i></a></span>
    <article>
        <figure>            
            <img src="/assets/img/products/{{ product.product.illustration }}" height="80px"></img>
        </figure>
        <section>
            <header>
                <h2>{{ product.product.name }}</h2>
                <h3>{{ (product.product.price/100)|number_format(2, ',', '.')}}€</h3>
            </header>
            <div>
                <a href="{{ path('substract_to_basket', {'id': product.product.id}) }}">
                    <i class="fas fa-minus"></i>
                </a>
                <p>{{ product.quantity }}</p>
                <a href="{{ path('add_to_basket', {'id' : product.product.id }) }}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <h4>{{ ((product.product.price * product.quantity)/100)|number_format(2, ',', '.') }} €</h4>
        </section>
    </article>
    {% set total = total + (product.product.price * product.quantity) %}
    {%  endfor %}
</section>
<section class="panierFinal">
    <header>
        <h1><span>Total : </span><span>{{ ((total)/100)|number_format(2, ',', '.') }} €</span></h1>
        <h2><span>Nombres total de produits : </span><span>{{ basket|length }}</span></h2>
        <h3>Profitez de notre abonnement annuel. <a href="{{ path('products') }}">En savoir plus</a></h3>
    </header>
    <section>
        <a class="finalBuyBtn" href="{{ path('remove_my_basket') }}">Finaliser ma commande</a>
        <div>
            <a href="{{ path('remove_my_basket') }}">Annuler</a>
            <a href="{{ path('products') }}">Continuer shopping</a>
        </div>
    </section>
</section>

{% else %}
    <h1 class="panierVide">Votre panier est vide.</h1>
{% endif %}


{% endblock %}












    {# {% if basket|length > 0 %}
    <html>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
    <body>
<h1>Mon panier</h1>
    <table style="width:100%">
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Total</th>
            <th></th>
        </tr>
        {% set total = null %}
        {% for product in basket %}
        <tr>
            <td>
            <img src="/assets/img/products/{{ product.product.illustration }}" height="80px"></img>
            {{ product.product.name }}</td>
            <td>{{ product.quantity }} <a href="{{ path('substract_to_basket', {'id': product.product.id}) }}"><i class="fas fa-minus"></i></a><a href="{{ path('add_to_basket', {'id' : product.product.id }) }}"><i class="fas fa-plus"></i></a></td>
            <td>{{ (product.product.price/100)|number_format(2, ',', '.')}} €</td>
            <td>{{ ((product.product.price * product.quantity)/100)|number_format(2, ',', '.') }} €</td>
            <td><a href="{{ path('delete_from_basket', {'id': product.product.id}) }}"><i class="fas fa-trash"></i></a></td>
        </tr>
            {% set total = total + (product.product.price * product.quantity) %}
        {%  endfor %}
    </table>
    <div>
        <h4>Nombre de produits: {{ basket|length }}</h4>
        <h4>Total de mon panier: {{ ((total)/100)|number_format(2, ',', '.') }} € </h4>
        <a href="{{ path('remove_my_basket') }}"><p>Vider mon panier</p></a>
        <a href=""><h2>Valider mon panier</h2></a>
    </div>
        {% else %}
        <h4>Votre panier est vide.</h4>
    {% endif %}

    </body>
    </html>

{% endblock %} #}
