{% extends 'base.html.twig' %}

{% block title %}Validation{% endblock %}

{% block body %}
    <h1>Recapitulatif</h1>
    <p>Verifier vos informations avant de payer.</p>

    <h2>Mon adresse:</h2>
    <pre>{{ delivery|raw }}</pre>

    <h2>Mon transporteur:</h2>
    <p>{{ carrier.name }}</p>
    <p>{{ carrier.description|raw }}</p>
    <p>{{ (carrier.price)|number_format(2, ',', '.') }} €</p>

    <h2>Ma commande:</h2>
    {% set total = null %}
    {% for product in basket %}
        <img src="/assets/img/products/{{ product.product.illustration }}" height="50px"></img>
        {{ product.product.name }}
        X {{ product.quantity }}
        <br>
        <p>{{ ((product.product.price * product.quantity)/100)|number_format(2, ',', '.') }} €</p>
        {% set total = total + (product.product.price * product.quantity) %}
    {% endfor %}

    <h2>Sous Total: {{ ((total)/100)|number_format(2, ',', '.') }} €</h2>
    <h2>Livraison: {{ (carrier.price)|number_format(2, ',', '.') }} €</h2>
    <h1>Total: {{ ((total/100) + carrier.price)|number_format(2, ',', '.') }} €</h1>
<a href="">Payer {{ ((total/100) + carrier.price)|number_format(2, ',', '.') }} €</a>
{% endblock %}
{% block footer %}
{% endblock %}