{% extends 'base.html.twig' %}

{% block title %}Validation de commande{% endblock %}

{% block body %}
<section class="commandebox">
    <h2>Votre commande</h2>
    <section>
        {% for product in basket %}
            <article>
                <img src="/assets/img/products/{{ product.product.illustration }}" height="50px"></img>
                <footer>
                    <h3>{{ product.product.name }}</h3>
                    <h4>Quantité : {{ product.quantity }}</h4>
                </footer>
            </article>   
        {% endfor %}
    </section>
</section>



<section class="adressLivr">
    <h1>Adresse de livraison</h1>
    <h2>Choisissez votre adresse de livraison :</h2>
    {% set formHtml %}
        <article class="adresseUser">
            {{ form_start(ValidationForm, {action:path('order_recap')}) }}
            {{ form_row(ValidationForm.addresses) }}
        </article>
        <button class="createAdress"><a href="{{ path('account_address_add') }}">Ajouter nouvelle adresse</a></button>
        <article class="livraisonUser">
            <h1>Transporteur</h1>
            <h2>Choisissez votre moyen de livraison :</h2>
            <article class="transport">
                {{ form_row(ValidationForm.carriers) }}
                {{ form_end(ValidationForm) }}
            <article>
        </article>
    {% endset %}
</section>

<div>{{ formHtml|replace({'[br]': '<br>'})|raw }}</div>























    {# <h2>Choisir l'adresse de livraison</h2> #}
    {# {% set formHtml %}
        <article>
            {{ form_start(ValidationForm, {action:path('order_recap')}) }}
            {{ form_row(ValidationForm.addresses) }}
        </article>
        <a href="{{ path('account_address_add') }}"><h3>Ajouter une autre adresse de livraison</h3></a>
        {{ form_row(ValidationForm.carriers) }}
        {{ form_end(ValidationForm) }}
    {% endset %} #}
{# <div>{{ formHtml|replace({'[br]': '<br>'})|raw }}</div> #}

    {# <h2>Ma commande:</h2>
    {% for product in basket %}
        <img src="/assets/img/products/{{ product.product.illustration }}" height="50px"></img>
        {{ product.product.name }}
        X {{ product.quantity }}
        <br>
    {% endfor %} #}

{% endblock %}
{% block footer %}
{% endblock %}